<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Tab links -->
    <div class="tab">
        <button id='def' class="tablinks" onclick="openTab(event, 'Length')">Length</button>
        <button class="tablinks" onclick="openTab(event, 'Temperature')">Temperature</button>
        <button class="tablinks" onclick="openTab(event, 'Area')">Area</button>
        <button class="tablinks" onclick="openTab(event, 'Volume')">Volume</button>
        <button class="tablinks" onclick="openTab(event, 'Weight')">Weight</button>

    </div>

    <!-- Tab content -->
    <div id="Length" class="tabcontent">
        <div id='header'>
            <h2>Length Conversion rates</h2>
            <button id='rates'>+</button>
        </div>

        <div id='ratesTable'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Metric</th>
                        <th>Imperial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">1 millimetre [mm]</td>
                        <td>0.03937 in</td>
                    </tr>
                    <tr>
                        <td>1 centimetre [cm]</td>
                        <td>10 mm</td>
                        <td>0.3937 in</td>
                    </tr>
                    <tr>
                        <td>1 metre [m]</td>
                        <td>100 cm</td>
                        <td>1.0936 yd</td>
                    </tr>
                    <tr>
                        <td>1 kilometre [km]</td>
                        <td>1000 m</td>
                        <td>0.6214 mile</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form id='lengthConverter'>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input name='amount' type="number" step=0.01 class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-auto">
                    <select name='from' id='from' class="form-control">
                        <option value="km">Kilometre/s [km]</option>
                        <option value="mm">Millimetre/s [mm]</option>
                        <option value="cm">Centimetre/s [cm]</option>
                        <option value="m">Metre/s [m]</option>
                        <option value="in">Inch/s [in]</option>
                        <option value="ft">Feet [ft]</option>
                        <option value="yd">Yard/s [yd]</option>
                        <option value="ml">Mile/s [ml]</option>
                        <option value="nm">Nautical Mile/s [nm]</option>
                    </select>

                </div>

                <div name='to' class="col-auto" for='to'>
                    <select name='to' class="form-control">
                        <option value="ml">Mile/s [ml]</option>
                        <option value="mm">Millimetre/s [mm]</option>
                        <option value="cm">Centimetre/s [cm]</option>
                        <option value="m">Metre/s [m]</option>
                        <option value="km">Kilometre/s [km]</option>
                        <option value="in">Inch/s [in]</option>
                        <option value="ft">Feet [ft]</option>
                        <option value="yd">Yard/s [yd]</option>
                        <option value="nm">Nautical Mile/s [nm]</option>
                    </select>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Convert Length</button>
                </div>

            </div>
        </form>
        <div id='result'></div>
    </div>

    <div id="Temperature" class="tabcontent">
        <h3>Temperature</h3>
        <form id='temperatureConverter'>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input name='amount' type="text" class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-auto">
                    <select name='from' id='from' class="form-control">
                        <option value="c">Celsius [c]</option>
                        <option value="f">Fahrenheit [f]</option>
                        <option value="k">Kelvin [k]</option>
                    </select>

                </div>

                <div name='to' class="col-auto" for='to'>
                    <select name='to' class="form-control">
                        <option value="f">Fahrenheit [f]</option>
                        <option value="c">Celsius [c]</option>
                        <option value="k">Kelvin [k]</option>
                    </select>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Convert temperature</button>
                </div>
            </div>
        </form>
    </div>

    <div id="Area" class="tabcontent">
        <h3>Area</h3>
        <form id='areaConverter'>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input name='amount' type="text" class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-auto">
                    <select name='from' id='from' class="form-control">
                        <option value="km2">Square Kilometre/s [km2]</option>
                        <option value="m2">Square Metre/s [m2]</option>
                        <option value="ml2">Square Mile/s [ml2]</option>
                        <option value="yd2">Square Yard/s [yd2]</option>
                        <option value="sq ft">Square Feet [sq ft]</option>
                        <option value="in2">Square Inch/s [in2]</option>
                        <option value="ha">Hectare/s [ha]</option>
                        <option value="a">Acre/s [a]</option>
                    </select>

                </div>

                <div class="col-auto" for='to'>
                    <select name='to' class="form-control">
                        <option value="km2">Square Kilometre/s [km2]</option>
                        <option value="m2">Square Metre/s [m2]</option>
                        <option value="ml2">Square Mile/s [ml2]</option>
                        <option value="yd2">Square Yard/s [yd2]</option>
                        <option value="sq ft">Square Feet [sq ft]</option>
                        <option value="in2">Square Inch/s [in2]</option>
                        <option value="ha">Hectare/s [ha]</option>
                        <option value="a">Acre/s [a]</option>
                    </select>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div id="Volume" class="tabcontent">
        <h3>Volume</h3>
        <form id='volumeConverter'>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input name='amount' type="text" class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-auto">
                    <select name='from' id='from' class="form-control">
                        <option value="l">Litre/s [l]</option>
                        <option value="cm3">Cubic Centimetre/s [cm3]</option>
                        <option value="dm2">Cubic Decimetre/s [dm2]</option>
                        <option value="m3">Cubic Metre/s [m3]</option>
                        <option value="5">Hectolitre/s [hl]</option>
                        <option value="hl">Cubic Inch/s [in3]</option>
                        <option value="ft3">Cubic Feet [ft3]</option>
                        <option value="fl oz">Fluid Ounce/s [fl oz]</option>
                        <option value="pt">Pint/s [pt]</option>
                        <option value="gal">Gallon/s [gal]</option>
                        <option value="US fl oz">US Fluid Ounce/s [US fl oz]</option>
                        <option value="US pt">US Pint/s [US pt]</option>
                        <option value="US gal">US Gallon/s [US gal]</option>
                    </select>

                </div>

                <div class="col-auto" for='to'>
                    <select name='to' class="form-control">
                        <option value="gal">Gallon/s [gal]</option>
                        <option value="cm3">Cubic Centimetre/s [cm3]</option>
                        <option value="dm2">Cubic Decimetre/s [dm2]</option>
                        <option value="m3">Cubic Metre/s [m3]</option>
                        <option value="l">Litre/s [l]</option>
                        <option value="5">Hectolitre/s [hl]</option>
                        <option value="hl">Cubic Inch/s [in3]</option>
                        <option value="ft3">Cubic Feet [ft3]</option>
                        <option value="fl oz">Fluid Ounce/s [fl oz]</option>
                        <option value="pt">Pint/s [pt]</option>
                        <option value="US fl oz">US Fluid Ounce/s [US fl oz]</option>
                        <option value="US pt">US Pint/s [US pt]</option>
                        <option value="US gal">US Gallon/s [US gal]</option>
                    </select>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div id="Weight" class="tabcontent">
        <h3>Weight</h3>
        <form id='weightConverter'>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <input name='amount' type="text" class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-auto">
                    <select name='from' id='from' class="form-control">
                        <option value="kg">Kilogram/s [kg]</option>
                        <option value="mg">Milligram/s [mg]</option>
                        <option value="g">Gram/s [g]</option>
                        <option value="t">Tonne/s [t]</option>
                        <option value="oz">Ounce/s [oz]</option>
                        <option value="lb">Pound/s [lb]</option>
                        <option value="s">Stone/s [s]</option>
                        <option value="cwt">UK Hundred Weight [cwt]</option>
                        <option value="ton">UK Long Ton [ton]</option>
                    </select>

                </div>

                <div class="col-auto" for='to'>
                    <select name='to' class="form-control">
                        <option value="lb">Pound/s [lb]</option>
                        <option value="mg">Milligram/s [mg]</option>
                        <option value="g">Gram/s [g]</option>
                        <option value="kg">Kilogram/s [kg]</option>
                        <option value="t">Tonne/s [t]</option>
                        <option value="oz">Ounce/s [oz]</option>
                        <option value="s">Stone/s [s]</option>
                        <option value="cwt">UK Hundred Weight [cwt]</option>
                        <option value="ton">UK Long Ton [ton]</option>
                    </select>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script src="/public/client.js"></script>


</html>